body{
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
}
#form-outer{
    background-color: white;
    margin: auto;
    border-radius: 4px;
    width: 75%;
    max-width:900px;
    padding: 10px;
    padding-top: 20px;
}
#title{
    font-weight: 550;
    text-align: center;
}
#submit{
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height:40px;
    width:96px;
    margin: auto;
    margin-top: 30px;
    border:0px solid;
    padding: 10px;
    position: relative;
    left:40%;
}
.cent{
    position: relative;
    left: 20px;
}
#description{
    text-align: center;
    font-weight: 10;
}
.labels{
    
    display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;    
}
.radio, .checkbox{
    position: relative;
    display: block;
    padding-bottom: 10px;
    margin-left: 10px;
    left:-43px; 

}
.righttab{
    display: inline-block;
    text-align:left;
    width: 48%;
    vertical-align:middle;
    position: relative;
    top: 13px;
    left: 12px;
}
.righttab1{
    display: inline-block;
    text-align:left;
    width: 48%;
    vertical-align:middle;

}
